@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Сайт для выполнения практических работ по дициплине Проектированеи Информационных систем</p>
<footer>
    <p>@DateTime.Now.Year - DIS - AG</p>
</footer>
